section {
	position: absolute;
	overflow: hidden;
    padding: 2px;
}

.left {
    left: 0;
    right: 50%;
}

.right {
    right: 0;
    left: 50%;
}

.top {
    top: 0;
    bottom: 50%;
}

.bottom {
    top: 50%;
    bottom: 0;
}

.sizer {
	position: absolute;
    z-index: 1000;
	height: 16px; width: 16px;
    transform: translate(-9px, -9px) scale(.8);

    background-image: url(../images/quad_resize.png) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    background-color: rgba(176, 224, 230, 0.8);
    border: 1px solid rgb(70, 130, 180);
    border-radius: 100%;
    opacity: .9;


    &:hover, &.moving {
        cursor: move !important;
    	transform: translate(-9px, -9px) scale(1.3);
    	opacity: 1;
	}

}
